<div class="container">
  <h1><%= @post.title %></h1>
  <p>Created on: <%= @post.created_at.to_s(:long) %> by <%= @post.user.full_name %></p>
  <p><%= @post.body %></p>
  <p>Tags: <%= erb :_list_tags, :layout => false, locals: {post: @post}%></p>
  <% if @post.user.id == session[:id] %>
    <a href='/posts/<%= @post.id %>/update'>Update this post</a>
    <br>
    <a href='/posts/<%= @post.id %>/delete'>Delete this post</a>
  <% end %>
</div>
